Support for compressed tokens

I'm working on a crate to decode SMART Health Cards.  Per their spec, these are their requirements:


> * JWS Header
>   * header includes alg: "ES256"
>   * header includes zip: "DEF"
>   * header includes kid equal to the base64url-encoded (see section 5 of [RFC4648](https://tools.ietf.org/html/rfc4648#section-5)) SHA-256 JWK Thumbprint of the key (see [RFC7638](https://tools.ietf.org/html/rfc7638))
> * JWS Payload
>   * payload is minified (i.e., all optional whitespace is stripped)
>   * payload is compressed with the DEFLATE (see [RFC1951](https://www.ietf.org/rfc/rfc1951.txt)) algorithm before being signed (note, this should be "raw" DEFLATE compression, omitting any zlib or gz headers)

Previously I've hacked up a copy of 8-beta2, but before I work on bringing this up to date with the current version of `jsonwebtoken`, is this something you'd entertain a PR for or is it out of scope for the crate?

Sure, however I think there are only two registered headers not covered by the struct: `crit` (JWS § 4.1.11) and `zip` (JWE § 4.1.3) so it would come down to whether it's worth potential allocation or if it's worth carrying around a couple extra fields for the most common cases.

I think we want to add `crit` at least since it's part of JWS. `zip` is simple and can be deserialize to an enum {Deflate, Other(String)} if we wanted and `enc` should be an enum as well

Sounds great.